.overview-container{
    background-color: #416EEE;
    padding: 1rem;
    margin: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 20.45rem;
    overflow-y: scroll;
}

.overview-historyText{
    color: #D1d1d1;
    font-size: .72rem;
}