.popUp-wrap {
    margin: auto !important;
    padding: 0 !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 2 !important;
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: rgba(0, 0, 0, 0.137) !important;
  }
  
  .popUp-wrap .popUp {
    margin: 80px auto;
    width: 20rem;
    position: relative;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 3px 3px 10px gray;
  }
  
  .popUp-wrap .popUp img {
    height: 500px;
    width: 500px;
    position: relative;
  }
  
  .popUp-wrap .popUp .popUp-btn {
    position: absolute;
    right: 0;
    padding-top: 0.5rem;
    padding-right: 0.9rem;
    color: lightgray;
  }

  .popUp-btn:hover{
    cursor: pointer;
    color: black !important;
  }
  
  .popUp-newPost {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid darkgray;
  }
  
  .popUp-container {
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin: .5rem 0rem;
  }

  .popUp-inputContainer{
    margin: 1rem;
  }

  .popUp-btnContainer{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0rem;
  }
  
  .popUp-btnUpdate{
    background-color: #416EEE;
    color: white;
    border-radius: .5rem;
  }

  .delete{
    background-color: #BA382E !important;
  }

  .popUp-text{
    margin-bottom: .5rem;
  }