/* .form-container {
    background-color: rgb(241, 238, 238);
    padding: 50px 20px;
}

.form-control {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 50px 300px;
    border: none;
    padding: 10px;
}

input {
    padding: 10px;
}

.btn {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 50px 300px;
    border: none;
    padding: 10px 100px;
    background-color: blue;
    color:white;
    font-weight: bolder;
}

.btn:hover {
    cursor: pointer;
    outline: none;
    box-shadow: none;
} */

.addPayment-backBtn{
    text-decoration: none;
    color: black;
}

.addPayment-header{
    margin: 1rem;
    margin-top: 2rem;
    padding-right: 15rem !important;
}

.addPayment-title{
    margin: 0rem !important;
    color: gray;
    padding-right: 10rem !important;
}

.addPayment-boxContainer{
    margin: 0rem !important;
}

.addPayment-formContainer{
    display: flex;
    flex-flow: column;
}