/* .form-container {
    background-color: rgb(241, 238, 238);
    padding: 50px 20px;
}

.form-control {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 50px 300px;
    border: none;
    padding: 10px;
}

input {
    padding: 10px;
}

.btn {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 50px 300px;
    border: none;
    padding: 10px 100px;
    background-color: blue;
    color:white;
    font-weight: bolder;
}

:hover {
    cursor: pointer;
    outline: none;
    box-shadow: none;
} */